/* Hero image */
.home_hero {
  position: relative;
  height: calc(var(--scale-7) * 4);
  border-radius: var(--radius-lg);
  margin: var(--size-8);
}

.home_hero > img {
  height: inherit;
  object-fit: cover;
  border-radius: inherit;
}

.home_hero:after {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

/* Featured Categories */

.categories {
  margin: 0 auto;
}

.categories > a {
  width: calc(var(--size-7) * 10);
}

.category_name {
  border-bottom: 2px solid transparent;
  color: var(--primary);
  z-index: var(--z-2);
  font-size: var(--size-5);
}

.category_name:hover {
  border-bottom-color: var(--secondary);
}

.home_featured {
  min-height: var(--scale-10);
}

.home_featured:hover {
  transform: scale(1.1);
  transition: transform 0.8s ease-in-out;
}
