/* Marvel UI Buttons Resets */

.btn-primary,
.btn-secondary {
  border-color: transparent;
}

.btn-secondary{
    background-color: var(--secondary);
}

/* Marvel UI Header resets*/

.header{
  position: sticky;
  top: 0;
  z-index: var(--z-3);
}