/* colors classes */

.primary-text-color {
  color: var(--primary);
}

.secondary-text-color {
  color: var(--secondary);
}

.primary-link {
  color: var(--primary);
}

.primary-link:hover {
  border-bottom: 2px solid var(--primary);
}

.mw-80 {
  max-width: 80vh;
}

.pos-fixed {
  position: fixed;
}

.form-error {
  background-color: white;
}

/* main container */
.container {
  min-height: 80vh;
  margin: var(--scale-2);
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}
